
@{
    ViewBag.Title = "Pasillo";
    Layout = "~/Views/Layauts/BarraNavegacion.cshtml";
}

<h1> Registrar Pasillo </h1>

<div class="row">
    <div class="col m12">
        <div class="card">
            <div class="card-content black-text">
                <span class="card-title"> Crear Bodegas </span>
                @using (Html.BeginForm("registrarPasillo", "Bodega", FormMethod.Post))
                {
                    <form id="MyForm">
                        Código Bodega:
                        <input name="codigoBodega" placeholder="Código Bodega" type="text" />
                        Nombre Bodega:
                        <input name="nombreBodega" placeholder="Nombre" type="text" />
                        Descripción:
                        <textarea name="descripcion" rows="2" cols="20"> </textarea>
                        Dirección Física:
                        <input name="direccion" placeholder="Dirección" type="text" />
                        <button class="btn blue waves-effect waves-light" type="submit">
                            Crear
                            <i class="material-icons right">send</i>
                        </button>
                        <a class="btn green" href="Pasillo"> Agregar Estante <i class="material-icons right">add_circle</i> </a>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

