<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    <script src="~/Content/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Bienvenidos a ERP SaaS</h1>
        </header>
        @RenderBody()
    </div>
</body>
</html>
